Note: Make sure that the details and facts are understandable to the average reader. Write the summary in past tense.

Source content:
<source-1-content>
Source: {{accredit}}
Description: {{description}}
--
{{text}}
</source-1-content>