{{^source.flags.copySourceVerbatim}}{{^source.flags.isPrimarySource}}Here is the list of fully rewritten and paraphrased facts. I have kept each of the direct quotes from people in the source material and have made sure each of the direct quotes is still 100% verbatim:{{/source.flags.isPrimarySource}}{{/source.flags.copySourceVerbatim}}<source-{{source.number}}-content>