Here is the {{wordTarget}} word article based on the provided source content. Additional notes on the article:
- Every sentence is based directly in facts or credited direct quotes from the source content. Everything is either rewritten in my own words or quoted with appropriate source credits to the source content/author(s)
- The article focuses ONLY on the content, facts, and quotes inside the "source-content" tag and follows the provided outline
- The article is {{wordTarget}} words long.
- The article is written in zippy, newsy english so that all jargon science or legal concepts are easy to understand
- There is no repetition in the article and no added background or analysis.
<article>
