Here is the {{wordTarget}} word article based on the provided source content and editor notes. 

Additional notes on the article;
- This article weaves together and intersperses the facts and direct quotes reported in the source articles to logically and holistically cover the story in my own words (with direct quotes kept unaltered and 100% verbatim to the source article inputs)
- Each sentence references the source articles from which the information or direct quotes came in source tags, for example: ({{#sources.0.accredit}}Source 1 {{sources.0.accredit}},{{/sources.0.accredit}} {{#sources.2.accredit}}Source 3 {{sources.2.accredit}}{{/sources.2.accredit}})
- I have included the most interesting direct quotes from people quoted in the source articles, with a focus on the first source articles and less focus on the later source articles. I have kept direct quotes from people verbatim and I only included direct quotes that were already direct quotes inside quotation marks in the source article inputs. I have altered the phrasing of the speaker credits (for example, so-and-so said) to avoid plagiarism
- There is no repetition in the article
- I have not written a summary or conclusion at the end, I have instead simply ended the article after presenting the final facts and direct quotes
- The article is {{wordTarget}} words long 
- The article is written in a pithy, newsy style. Instead of phrases like "person said XYZ, emphasizing the gravity of the situation," I write in a pithy style writing phrases like "person said XYZ," so that I am not injecting repetition or analysis

<aggregation>{{#sources.0.useVerbatim}}{{sources.0.factsBitSplitting1}}{{/sources.0.useVerbatim}}