Number of Blobs: {{input.noOfBlobs}}

IMPORTANT EDITOR NOTES:  
{{input.instructions}}

Additional editor instructions:
Each blob MUST start with a different word
The blobs must be short, punchy, and written in a newsy style (not dry)
Even if the input is hard science, a dry court ruling, or another dense text, the headline and blobs MUST be written in pithy, easy-to-understand english. For example, instead of "In a groundbreaking judgement addressing the multifaceted elements of electric vehicles, a Michigan court declared that..." just write "A Michigan court ruled X" 
It is VITAL that the blobs are very short (10-20 words) and highly engaging/punchy even when using quotes as color
NOTE: You can only put things in direct quotes that were already in direct quotes in the source article inputs
NOTE: Unless told otherwise, the headline should be based on the lede or angle for Source Article 1.

Source Content:
Source 1 (important){{#sources.0.isBaseSource}}
This is the base source that should define the core story{{/sources.0.isBaseSource}}:
{{#sources.0.factsBitSplitting1}}
{{sources.0.factsBitSplitting1}}{{sources.0.factsBitSplitting2}}{{/sources.0.factsBitSplitting1}}

{{#sources.1.factsBitSplitting1}}Source 2:{{sources.1.factsBitSplitting1}}{{sources.1.factsBitSplitting2}}{{/sources.1.factsBitSplitting1}}

{{#sources.2.factsBitSplitting1}}Source 3:{{sources.2.factsBitSplitting1}}{{sources.2.factsBitSplitting2}}{{/sources.2.factsBitSplitting1}}

{{#sources.3.factsBitSplitting1}}Source 4:{{sources.3.factsBitSplitting1}}{{sources.3.factsBitSplitting2}}{{/sources.3.factsBitSplitting1}}

{{#sources.4.factsBitSplitting1}}Source 5:{{sources.4.factsBitSplitting1}}{{sources.4.factsBitSplitting2}}{{/sources.4.factsBitSplitting1}}

{{#sources.5.factsBitSplitting1}}Source 6:{{sources.5.factsBitSplitting1}}{{sources.5.factsBitSplitting2}}{{/sources.5.factsBitSplitting1}}