NOTE: Do not add any attribution or credits if the source tag just has a number (eg "Source 7" should not be credited anywhere, but "Source 7 NewsCo" would be credited as "NewsCo")

IMPORTANT: Only add credits for these source articles:
{{#sources.0.attribution}}Source 1 Credit: {{sources.0.attribution}}{{/sources.0.attribution}}
{{#sources.1.attribution}}Source 2 Credit: {{sources.1.attribution}}{{/sources.1.attribution}}
{{#sources.2.attribution}}Source 3 Credit: {{sources.2.attribution}}{{/sources.2.attribution}}
{{#sources.3.attribution}}Source 4 Credit: {{sources.3.attribution}}{{/sources.3.attribution}}
{{#sources.4.attribution}}Source 5 Credit: {{sources.4.attribution}}{{/sources.4.attribution}}
{{#sources.5.attribution}}Source 6 Credit: {{sources.5.attribution}}{{/sources.5.attribution}}

IMPORTANT: ONLY add attribution once per source article, and only one at a time
<article>
{{rewrittenArticle}}
</article>