Write an article that is a digest or reporting on a much longer piece of text (source 1). Use the source text, the headline and blobs, and the editor instructions and other notes to write the article based fully on the provided source text. The article should be comprehensive and detailed.

IMPORTANT: You must write the article in a way that is easy for the general public to understand. Please simplify or write about complex concepts (legal, scientific, etc) in zippy everyday language so that anyone could understand it and be hooked by the article. Add a source tag after each line to show that it came from the source material provided in the "source-content" tags 

Length: The article should be around {{word_target}} words, it needs to be extremely thorough and comprehensive.

Headline & Blobs (to help guide article):
{{headline_blobs}}

IMPORTANT: Since this is a digest of another person's writing (with proper permission) you must either directly quote from the source material or paraphrase the facts and details in your own words. For example, if the source article or input said "The event was full of conflict from planning to execution, despite multiple failed PR attempts to improve its image." You could either write it as quoted content, like "[insert author name] wrote: 'The event was full of conflict from planning to execution, despite multiple failed PR attempts to improve its image.'" OR you could paraphrase it to something like: "In spite of several unsuccessful PR moves, the event was marred with conflict." 

{{source_lean_block}}

Here's a summary of the source content:
<summary>
{{summary_text}}
</summary>

###

INSTRUCTIONS: Write a thorough article that is {{word_target}} words long. Use the facts and direct quotes from the provided source text to write an extremely thorough, well-structured, news article. Use a spartan tone with no frills, just state the most important facts, events and quotes. Follow the editor instructions and suggestions and when generating the article from the fact and quote list. 

Move logically through the article by introducing the most important and interesting events, details, and quotes, and then adding more and more information and quotes about each element of the article from the sources until the article is complete and all important elements of the source text have been included following the outline.

Use every relevant detail from the source text to craft the article. Make sure to credit the source material and place any direct quotes inside direct quotation marks.

Because the source input is writing from someone (news, opinion, etc), this digest article will be about their writing (for example "Claudine Gay pushes back against her Harvard ousting in new op-ed in the New York Times."  or "Nume reports a breakdown in the Green Party in new CNN report"). If it's a court decision or scientific paper, the news story should detail what the authors or council etc said in the source content. The lede (the first paragraph) MUST introduce and credit the source content, and the source content or writers must be credited every few paragraphs.

Make sure the article will be easy to understand, even if the source text is complex (like a study or press release).

Add a source tag after each line to show that it came from the source material. 
"(insert sentence). (insert source tag)"

###


EDITOR NOTES:
IMPORTANT: Write each sentence in your words by referencing facts and details provided by the various sources, but keep any and all direct quotes from things other people were QUOTED as saying 100% accurate. You can only use direct quotes that were ALREADY direct quotes INSIDE quotation marks in the source article inputs 
The lede (the first sentence) must be punchy and pithy and based on key point 1
NOTE: You can only put things in direct quotes that were already in direct quotes in the source articles, and make sure to vary the crediting so that it isn't repetive (you don't have to give a speaker's full intro after every direct quote)
When using direct quotes, the speaker tags should be simple (use "said" instead of asserted. for example 'X person said: "[insert quote]"' or '"[insert quote]," wrote X person.')
In the article copy, numbers under 10 should be spelled out (eg "six")
You must use simple, straightforward, nonrepetitive language so that the general audience can understand the content of the article, and use SPECIFIC details from the source articles (dates, names, locations, etc)
For example, rather than writing something clunky and vague like "Sharing his thoughts on the health topic, Biden said he 'wouldn't expect it to get better,' emphasizing his concern." You would write something SPECIFIC, PITHY, and CLEAR like "Biden said he "wouldn't expect it to get better.'" since the quote speaks for itself and there is no need for extra analysis. 

{{user_editor_instructions_block}}

{{quote_from_source_block}}

Convert this outline into a long, comprehensive, well-written article. You must follow this outline: 
<outline>
{{outline_text}}

Note: The lede should be punching and attention-grabbing.
Note: Do not add any background or external information, you may ONLY reference content in the source-content section

Convert the above outline into a long, comprehensive, well-written article. Write an article that is {{word_target}} words long. 

SOURCE CONTENT:
The article must be fully rooted in this source content. You must paraphrase from the source content to avoid plagiarism. If quoting from the source content, you must put it in direct quotes with credits. Add in-sentence credits to the source material every couple of paragraphs throughout the article (for example "... according to X report" or "...according to X interview" or "...X wrote".. etc as needed)

<source-content>
(Source 1) {{source_accredit}}
Description: {{source_description}}
--
{{source_text}}
</source-content>