{{#source.flags.isPrimarySource}}
<!-- SYSTEM PROMPT PRIMARY SOURCE -->
<source-{{source.number}}-content><first-half>
{{source.factsBitSplitting}}</first-half>
<second-half>
<!-- END SYSTEM PROMPT PRIMARY SOURCE -->
{{/source.flags.isPrimarySource}}


{{^source.flags.isPrimarySource}}
{{#source.flags.copySourceVerbatim}}
<!-- SYSTEM PROMPT VERBATIM -->
Here are two dashes:
<!-- END SYSTEM PROMPT VERBATIM -->
{{/source.flags.copySourceVerbatim}}


{{^source.flags.copySourceVerbatim}}
<!-- SYSTEM PROMPT DEFAULT -->
Here are two dashes:
<!-- END SYSTEM PROMPT DEFAULT -->
{{/source.flags.copySourceVerbatim}}
{{/source.flags.isPrimarySource}}