{{#source.isPrimarySource}}
<!-- SYSTEM PROMPT PRIMARY SOURCE -->
Note: if all of the source content has ALREADY been accounted for in the first half, write "<second-half>empty</second-half>"
Today's Date: {{date}}
<source-{{source.number}}-input>
Source {{source.number}} {{source.accredit}}{{^source.accredit}}
The source tag should be "(Source {{source.number}})"{{/source.accredit}}

{{source.text}}
</source-{{source.number}}-input>
<!-- END SYSTEM PROMPT PRIMARY SOURCE -->
{{/source.isPrimarySource}}


{{^source.isPrimarySource}}
{{#source.useVerbatim}}
<!-- SYSTEM PROMPT VERBATIM -->
<instructions>
print two dashes: -- </instructions>
<!-- END SYSTEM PROMPT VERBATIM -->
{{/source.useVerbatim}}


{{^source.isVerbatim}}
<!-- SYSTEM PROMPT DEFAULT -->
<instructions>
print two dashes: -- </instructions>
<!-- END SYSTEM PROMPT DEFAULT -->
{{/source.isVerbatim}}
{{/source.isPrimarySource}}