{{^source.useVerbatim}}{{^source.isPrimarySource}}Here is the list of fully rewritten and paraphrased facts. I have kept each of the direct quotes from people in the source material and have made sure each of the direct quotes is still 100% verbatim:{{/source.isPrimarySource}}{{/source.useVerbatim}}<source-{{source.number}}-content>