Note: Make sure that the details and facts are understandable to the average reader. Write the summary in past tense.

Source content:
<source-1-content>
{{#source.attribution}}
Source: {{source.attribution}}
{{/source.attribution}}

{{#source.description}}
Description: {{source.description}}
{{/source.description}}

--
{{source.text}}
</source-1-content>