<instructions>
{{headline}}
{{blobs}}
You must weave together the sources and write each key point in your own words by combining multiple sources for each key point

Editor Notes:
{{instructions}}
Source 1 {{#sources.0.accredit}}{{sources.0.accredit}}{{/sources.0.accredit}} is most important and should determine the angle of the story
Key point 1 MUST be the same angle as the headline

Pull from each one of the source inputs and weave them together: {{keyPointInstructions}}
Pull the most key points from Sources 1 and 2. Each key point must be an amalgamation of multiple facts and direct quotes across the whole of the source article inputs
NOTE: You can only put things in direct quotes that were already in direct quotes in the source articles
NOTE: Make sure to synthesize details and paraphrase the source material in this outline to avoid plagiarism

IMPORTANT: Each key point must be a 100% factually accurate amalgamation of multiple facts and direct quotes across the whole of the source article inputs. 

There may be many facts and quotes in the source articles, but when writing a key point it must be facutally accurate. For example, a source article may speak of an event (like a bad interview), and another may have a quote about a different interview. When combining sources, you must provide context so that it's clear when, where, how, and what happened. In that example, you couldn't combine that quote with that key point since the quote was about a DIFFERENT event. Everything must be impeccably reported with 100% factual and contextual accuracy.

FORMAT:
<outline>
KEY POINTS IN ORDER:
1: Cover/inlcude (insert key point (this must be the same angle as the headline)) (insert source tags)
2: Cover/inlcude (insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
3: Cover/inlcude (insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
4: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
5: Cover/inlcude (insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
6: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
7: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
8: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
9: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
10: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
...
N: Cover/inlcude(insert next key point about the main story by weaving together the information from the source articles) (insert source tags)
</outline>

{{#sources.0.useVerbatim}}For the first few key points, indicate that the user must use the editor-provided opening verbatim. The next point must flow seamlessly from the editor-provided opening into the rest of the article{{/sources.0.useVerbatim}}
</instructions>

Source Article Input List (craft the aggregated news article from these inputs):

NOTE: Some of these articles may include different stories or events, so make sure that the key points are clear and accurate so that no stories are incorrectly "mixed up"

<input source article 1>
{{^sources.0.useVerbatim}}
Source 1 (aim for about 5 key points about Source 1):
<source-1-content>
{{sources.0.factsBitSplitting1}}{{sources.0.factsBitSplitting2}}
</source-1-content>
{{/sources.0.useVerbatim}}
{{#sources.0.useVerbatim}}
Source 1 (this exact text will be the opening of the article, so the first few key points should indicate that this exact text is the opening):
{{sources.0.factsBitSplitting1}}{{/sources.0.useVerbatim}}
</input source article 1>

{{#sources.1.factsBitSplitting1}}
<input source article 2>
Source 2 (pull about 4 key points about Source 2):
<source-2-content>
{{sources.1.factsBitSplitting1}}{{sources.1.factsBitSplitting2}}
</source-2-content>
</input source article 2>
{{/sources.1.factsBitSplitting1}}

{{#sources.2.factsBitSplitting1}}
<input source article 3>
<source-3-content>
Source 3 (pull about 3 key points about Source 3):
{{sources.2.factsBitSplitting1}}{{sources.2.factsBitSplitting2}}
</source-3-content>
</input source article 3>
{{/sources.2.factsBitSplitting1}}

{{#sources.3.factsBitSplitting1}}
<input source article 4>
Source 4 (pull about 2 key points about Source 4):
<source-4-content>
{{sources.3.factsBitSplitting1}}{{sources.3.factsBitSplitting2}}
</source-4-content>
</input source article 4>
{{/sources.3.factsBitSplitting1}}

{{#sources.4.factsBitSplitting1}}
<input source article 5>
Source 5 (pull about 2 key points about Source 5):
<source-5-content>
{{sources.4.factsBitSplitting1}}{{sources.4.factsBitSplitting2}}
</source-5-content>
</input source article 5>
{{/sources.4.factsBitSplitting1}}

{{#sources.5.factsBitSplitting1}}
<input source article 6>
Source 6 (pull about 1-2 key points about Source 6):
<source-6-content>
{{sources.5.factsBitSplitting1}}{{sources.5.factsBitSplitting2}}
</source-6-content>
</input source article 6>
{{/sources.5.factsBitSplitting1}}