Number of Blobs: {{num_blobs}}

IMPORTANT EDITOR NOTES:  
{{editor_notes}}

Additional editor instructions:
Each blob MUST start with a different word.
Dial up the tabloid and voyeuristic nature of the writing, but use casual, easy to understand information. Avoid slang.
The blobs must be short, punchy, and written in a newsy style (not dry)
Make sure to include the author or context of the source article in the first blob. (Eg, "... in a piece by X author in Y publication")
Even if the input is hard science, a dry court ruling, or another dense text, the headline and blobs MUST be written in pithy, easy‑to‑understand english. For example, instead of "In a groundbreaking judgement addressing the multifaceted elements of electric vehicles, a Michigan court declared that..." just write "A Michigan court ruled X" 
It is VITAL that the blobs are very short (10-20 words) and highly engaging/punchy even when using quotes as color

Source Content:

Source: {{source_accredit}}
{{source_description}}
--
Facts and summary of the source content to use as reference:
<summary>
{{summarize_facts}}
Quotes that may be used as additional reference:
<quote-list>
{{extract_fact_quotes}}